<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include ('../partials/head.ejs') %>
  <body>
    <h1>Gravel Bikes</h1>
    <% for (let i = 0; i < bikes.length; i++) { %>
      <% if (bikes[i].category == 'Gravel') { %>
        <a href="/bkbikes/<%=bikes[i].id%>"><img src="<%=bikes[i].image%>" width='150px' height='250px' alt="<%=bikes[i].title%>"></a>
      <% } %>

    <% } %>
    <form class="" action="/bkbikes/new">
      <button type="submit" >ADD NEW BIKE</button>
    </form><br><br>
    <form action="/bkbikes/">
      <button type="submit">BACK</button>
    </form>
  </body>
</html>
