<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Index Page</h1>
    <h2>Categories:</h2><br>
    <a href="/bkbikes/road">Road</a><br>
    <a href="/bkbikes/mountain">Mountain</a><br>
    <a href="/bkbikes/gravel">Gravel</a><br>
    <a href="/bkbikes/custom">Custom</a><br>
  </body>
</html>
