html, body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: thistle;
  width: 100%;
  min-height: 100vh;
}
#card1 {
  grid-area: road;
}
#card2 {
  grid-area: mtb;
}
#card3 {
  grid-area: gravel;
}
#card4 {
  grid-area: custom;
}
#infobutton {
  grid-area: info;
}
.bike-cards {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: [first] 1fr [line2] 1fr [line3] 1fr [line4] 1fr [line5] 1fr [last];
  grid-template-rows: auto;
  row-gap: 20px;
  grid-template-areas:
    ". road . mtb ."
    ". gravel . custom ."
    ". . info . ."
}
.bike-card {

}
img {
  width: 400px;
  height: auto;
}
footer {
  align-self: end;
}
#show-page {
  padding-left: 100px;
}
#show-table {
  border-collapse: collapse;
}
tr {
  border-bottom: 2px solid black;
}
#edit-page {
  padding-left: 100px;
  font-size: 24px;
}
