html, body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: thistle;
  width: 100%;
  min-height: 100vh;
  color: white;
}
#card1 {
  grid-area: road;
}
#card2 {
  grid-area: mtb;
}
#card3 {
  grid-area: gravel;
}
#card4 {
  grid-area: custom;
}
#infobutton {
  grid-area: info;
}
.bike-cards {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: [first] 1fr [line2] 1fr [line3] 1fr [line4] 1fr [line5] 1fr [last];
  grid-template-rows: auto;
  row-gap: 20px;
  grid-template-areas:
    ". road . mtb ."
    ". gravel . custom ."
    ". . info . ."
}
.bike-card {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}
a:link, a:hover, a:visited {
  text-decoration: none;
  color: white;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: lightsteelblue;
  border-radius: 20px;
}

.bike-card:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
img {
  width: 400px;
  height: auto;
}
footer {
  align-self: end;
}
#show-page {
  padding-left: 100px;
}
#show-table {
  border-collapse: collapse;
}
tr {
  border-bottom: 2px solid black;
}
#edit-page {
  padding-left: 100px;
  font-size: 24px;
}

.bike-card1 {
  position: relative;
  max-width: 400px;
  margin: 0;
}
.bike-card1:hover .overlay {
  opacity: 1;
}
.bike-cards1 {
  display: block;
}
.bikes-images {
  border-radius: 21px;
}
a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
